# Node modules
node_modules/

# Environment variables
.env

# Firebase admin key
firebaseKey.json

# Mac system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional
dist/
build/